//card layout for overview page

.card{
    height: 20rem;
    width: 30rem;
    background-color: #edf0f0;
    padding-left: 3em;
    border-radius: 20px;
    text-align: left;
    padding-top: 1.8em;
}