//Here I wanted to change the display for the list
.followers-list{
    .list-2{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        img{
            border-radius: 50%;
        }
        div{
            text-align: left;
            padding-left: 3em;
        }
    }
}