//global colors, fonts
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
   height: 500px;
   width: 500px;
   
}
a{
    text-decoration: none;
    color: black;
}
h2{
    font-size: 3rem;
}
//global classes
.bold{
font-weight: 700;
}