.container-nav{
    width: 100%;
    border-bottom: #333  solid 1px;
    padding-left: 15px;
}
.top-nav{
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;

p{
    font-size: 2.5rem;
   span{
    padding-right: 10px; //padding between  the icon and text
   }
}
.search{
    font-size: 2rem;
    display: flex;
    input{
       width: 280px;
    }
}
}

//bottom  navbar area with links
.bottom-nav{
    width: 100%;
    display: flex;
    padding-top: 18px;
    
    .navbar{
        font-size: 1.5rem;
        width: 100%;
        display: flex;
        list-style-type: none;
        li{
            
            padding: 10px;
            a{
                display: flex;
                align-items: center;
                color: #333;
                text-decoration: none;
            }
        }
        li:hover {
            a{
                text-decoration: underline;
                text-decoration-color: rgb(244, 94, 40);
                text-decoration-skip-ink: none;
                text-decoration-thickness: 5px;
               
            }
        }
        
    }
}
