//repositories css ul and li styling

.lists{
    list-style-type: none;
    width: 100%;
    li{
        border-bottom: 2px solid black;
        padding: 10px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 4rem;
        
        img{
            max-width: 5rem;
            height: auto;
        }
        span{
            h2{
                text-align: start;
                padding-bottom: 2rem;
            }
        }
        .star{
            display: flex;
            font-size: 2rem;
            background-color: #a6adba;
            border-radius: 10px;
            padding: 10px;
            align-items: center;
            color: #ffff;
            .arrows{
                display: flex;
                padding: 0 1.5rem;
            }
        }
    }

}