//repositories css ul and li styling
// this list also affects the followers page
.lists{
    list-style-type: none;
    width: 100%;
    li{
        border-bottom: 1px solid rgb(126, 123, 123);
        padding: 5px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4rem;
        
        img{
            max-width: 5rem;
            height: auto;
        }
        span{
            h3{
                text-transform: capitalize;
                text-align: start;
                padding-bottom: 0.8rem;
            }
            .description{
                
                    font-size: 0.8rem;
                    color: grey;
                    width: 20rem;
               
            }
        }
        .star{
            display: flex;
            background-color: #a6adba;
            border-radius: 10px;
            color: #ffff;
            height: 3em;
            width:6em;
            margin-right: 3em;
            align-items: center;
            justify-content: space-evenly;
            .arrows{
                display: flex;
                flex-direction: column;
                padding-left: 5px ;
                //padding: 0 5px;
            }
        }
    }

}
//this is the styling for the language
.language{
    background-color: #8a8a8a;
    width: fit-content;
    color: #ffff;
    font-weight: 700;
    padding: 0 0.7em;
}